<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Listing Venues</div>
  <% if notice %>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>
    </div>
  <% end %>

  <table class="table">
    <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @venues.each do |venue| %>
      <tr>
        <td><%= venue.name %></td>
        <td><%= link_to 'Show', [:api, venue] %></td>
        <td><%= link_to 'Edit', edit_api_venue_path(venue) %></td>
        <td><%= link_to 'Destroy', [:api, venue], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  <div class="panel-footer"><%= link_to 'New Venue', new_api_venue_path %></div>
  
</div>


