<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @artist.name %>
</p>

<p>
  <strong>Spotify artist:</strong>
  <%= @artist.spotify_artist_id %>
</p>

<p>
  <strong>Artist thumbnail url:</strong>
  <%= @artist.artist_thumbnail_url %>
</p>

<%= link_to 'Edit', edit_api_artist_path(@artist) %> |
<%= link_to 'Back', api_artists_path %>
